Gerbers/*.drl
Gerbers/*.gbr
Gerbers/*.dts
Gerbers/*.gbl
Gerbers/*.gbs
Gerbers/*.gbo
Gerbers/*.gm1
Gerbers/*.gtl
Gerbers/*.gts
Gerbers/*.gto

PCB/pcbway_production
PCB/fp*
PCB/sym*
PCB/*.lck
PCB/*backups
PCB/_autosave-*
PCB/#auto_saved*

PCB_MX/pcbway_production
PCB_MX/fp*
PCB_MX/sym*
PCB_MX/*backups
PCB_MX/_autosave-*
PCB_MX/*.lck
PCB_MX/#auto_saved*


